on property:sys.boot_completed=1
    start zui_perfctld

on property:zui_perfctl.zuipp=apply
    umount /system/etc/game_policy.xml
    umount /system/etc/performanceconfig.xml
    mount none /data/local/tmp/zui_perfctl/zuipp/game_policy.xml /system/etc/game_policy.xml bind
    mount none /data/local/tmp/zui_perfctl/zuipp/performanceconfig.xml /system/etc/performanceconfig.xml bind
    setprop zui_perfctl.zuipp done

on property:zui_perfctl.zuipp=restore
    umount /system/etc/game_policy.xml
    umount /system/etc/performanceconfig.xml
    setprop zui_perfctl.zuipp restored

on property:zui_perfctl.asoul=apply
    umount /system/etc/asopt.conf
    mount none /data/local/tmp/zui_perfctl/asoul/asopt.conf /system/etc/asopt.conf bind
    setprop zui_perfctl.asoul done

on property:zui_perfctl.asoul=restore
    umount /system/etc/asopt.conf
    setprop zui_perfctl.asoul restored

service zui_perfctld /system/bin/sh /system/bin/zui_perfctld
    class late_start
    disabled
    user root
    group root system shell readproc graphics
    seclabel u:r:shell:s0
